{% extends "base.html" %}

{% block content %}
    <h1>سلام! به سایت من خوش اومدید.اینجا قراره فارم ها رو برسی میکنیم</h1>
    <p>
        
1. Iron Farm (فارم آهن)
چطور ساخته می‌شود؟
با استفاده از Villager و مکانیزم Spawn شدن Iron Golem ساخته می‌شود.
گولم‌ها Spawn می‌شوند، داخل لاوا می‌افتند و Iron می‌دهند. 

منابع:
Iron Ingot
Poppy


قدرت فارم:
خیلی مهم؛ تقریباً پایه‌ی تمام دنیای Survival.

سختی:
7/10

نمره:
⭐️ 10/10
    </p>

    <p>
        2. Creeper Farm (فارم کریپر)

چطور ساخته می‌شود؟
یک اتاق تاریک می‌سازی که فقط Creeper داخلش Spawn شود؛ بعد با آب یا Trapdoor آن‌ها را به سمت مرگ هدایت می‌کنی. 

منابع:
Gunpowder


کاربرد:
برای TNT و Firework (خیلی مهم برای Elytra).

سختی:
6/10

نمره:
⭐️ 9/10
    </p>

    <p>
        3.Mob Farm (فارم عمومی ماب)

چطور ساخته می‌شود؟
یک برج تاریک بزرگ که Zombie، Skeleton، Spider و Creeper داخلش Spawn شوند. سپس سقوط می‌کنند یا کشته می‌شوند. 

منابع:
Bone
Arrow
Rotten Flesh
String
Gunpowder
XP

سختی:
5/10

نمره:
⭐️ 8.5/10
    </p>

    <p>
        4. Raid Farm (فارم رید)

چطور ساخته می‌شود؟
با استفاده از Village + Raid Mechanics ساخته می‌شود و Pillagerها اتوماتیک کشته می‌شوند. 

منابع:
Emerald
Totem of Undying
Redstone
Gunpowder
Saddle
Witch Loot


قدرت:
یکی از قوی‌ترین فارم‌های کل بازی.

سختی:
9/10

نمره:
⭐️ 10/10

    </p>

    <p>    
5. Gold Farm (فارم طلا)

چطور ساخته می‌شود؟
در Nether ساخته می‌شود تا Zombie Pigman زیاد Spawn شوند.

منابع:
Gold Nugget
Gold Ingot
Rotten Flesh
XP


کاربرد:
Piglin Bartering و XP فوق‌العاده.

سختی:
7/10

نمره:
⭐️ 9.5/10
    </p>
6. Enderman Farm

چطور ساخته می‌شود؟
در End ساخته می‌شود تا Endermanها داخل Void یا Trap بیفتند.

منابع:
XP عظیم
Ender Pearl


قدرت:
بهترین فارم XP بازی.

سختی:
8/10

نمره:
⭐️ 9.8/10

    <p>
7. Villager Trading Hall

چطور ساخته می‌شود؟
Villagerها را کنار Workstation قرار می‌دهی و Trade می‌گیری.

منابع:
Enchanted Book
Diamond Gear
Emerald


سختی:
8/10

نمره:
⭐️ 10/10
    </p>
8. Sugar Cane Farm

چطور ساخته می‌شود؟
با Observer و Piston وقتی Sugar Cane رشد کند شکسته می‌شود.

منابع:
Paper
Sugar


کاربرد:
Enchanting + Rocket + Trading

سختی:
3/10

نمره:
⭐️ 8/10
    <p>
9. Bamboo Farm

چطور ساخته می‌شود؟
مثل Sugar Cane Farm ولی با Bamboo.

منابع:
Bamboo
Fuel


کاربرد:
سوخت بی‌نهایت.

سختی:
3/10

نمره:
⭐️ 8/10
    </p>

    <p>
10. Wool Farm

چطور ساخته می‌شود؟
Sheep + Observer + Dispenser + Shears

منابع:
Wool


کاربرد:
Decoration و Bed.

سختی:
4/10

نمره:
⭐️ 7.5/10
    </p>
{% endblock %}
