{% extends "base.html" %}

{% block title %}
جدول فارم‌ها
{% endblock %}

{% block content %}

<h1>جدول مقایسه فارم‌های ماینکرفت</h1>

<table class="farm-table">

    <tr>
        <th>فارم</th>
        <th>منابع</th>
        <th>سختی</th>
        <th>نمره</th>
    </tr>

    <tr>
        <td>فارم آهن</td>
        <td>Iron</td>
        <td>7/10</td>
        <td>10/10 ⭐</td>
    </tr>

    <tr>
        <td>فارم کریپر</td>
        <td>Gunpowder</td>
        <td>6/10</td>
        <td>9/10 ⭐</td>
    </tr>

    <tr>
        <td>فارم ماب</td>
        <td>Bone, String</td>
        <td>5/10</td>
        <td>8.5/10 ⭐</td>
    </tr>

    <tr>
        <td>فارم رید</td>
        <td>Emerald, Totem</td>
        <td>9/10</td>
        <td>10/10 ⭐</td>
    </tr>

    <tr>
        <td>فارم طلا</td>
        <td>Gold, XP</td>
        <td>7/10</td>
        <td>9.5/10 ⭐</td>
    </tr>

</table>

{% endblock %}